
{{#section 'css'}}
    <style>
        h1{color:green}
    </style>

{{/section}}

{{#section 'script'}}
    <script>
        alert('hello,world');
    </script>
{{/section}}
<h1>index페이지</h1>
<img src="/img/smile.png">