{{#section 'css'}}

{{/section}}
{{#section 'script'}}

{{/section}}

<h1>sungjuk 전체 리스트입니다</h1>
<table>
    <tr><th>번호</th></tr>
    <tr><th>이름</th></tr>
    <tr><th>국어</th></tr>
    <tr><th>영어</th></tr>
    <tr><th>수학</th></tr>
    <tr><th>등록일</th></tr>

    <!--리스트행 시작---->
    <tr><td></td><td></td><td></td><td></td><td></td><td></td></tr>
</table>